# Python 関連
*.py[cod]
*.ipynb_checkpoints
**/*.egg-info/
**/__pycache__/
**/*.pyc

# Jupyter ノートブックのチェックポイント
.ipynb_checkpoints/

# VSCode 設定ファイル
.vscode/

# test data
example_data/

# OS ファイル
.DS_Store
Thumbs.db
.devcontainer/
Dockerfile
ruff.toml

# 環境設定
.env
*.env

# 実行ログや中間ファイル
*.log
*.out
*.bak
*.npy
*.tdms
*.sgy
*.segy
*.png
*.pth
*.csv
data/
result/
tmp_code/
debug_*/
# compiled コード
*.so
*.o
*.a

workflow/
code_snippet/
