base: base_blindtrace.yaml

paths:
  out_dir: ../runs/prestage_A2

tracking:
  exp_name: prestage_A2

model:
  backbone: resnet18
  pretrained: false
  pre_stage_use_bn: true
  pre_stages: 2
  pre_stage_strides:
  - - 1
    - 1
  - - 1
    - 1
  pre_stage_channels:
  - 16
  - 16
  pre_stage_kernels:
  - 3
  - 3
  pre_stage_antialias: false
