paths:
  segy_files: sgy_list_train_site54.txt
  phase_pick_files: fb_list_train_site54.txt
  infer_segy_files: sgy_list_valid_site54.txt
  infer_phase_pick_files: fb_list_valid_site54.txt
  out_dir: ../runs/prestage_D1
dataset:
  primary_keys:
  - ffid
  - chno
  - cmp
  max_trials: 2048
  use_header_cache: true
  verbose: true
  include_empty_gathers: false
  secondary_key_fixed: true
  waveform_mode: mmap
transform:
  time_len: 6016
  per_trace_standardize: true
augment:
  hflip_prob: 0.0
  polarity_prob: 0.0
  space:
    prob: 0.0
    factor_range:
    - 0.9
    - 1.1
  time:
    prob: 0.0
    factor_range:
    - 0.95
    - 1.05
  freq:
    prob: 0.0
    kinds:
    - bandpass
    - lowpass
    - highpass
    band:
    - 0.05
    - 0.45
    width:
    - 0.1
    - 0.35
    roll: 0.02
    restandardize: false
fbgate:
  apply_on: 'on'
  min_pick_ratio: 0.1
mask:
  ratio: 0.5
  mode: replace
  noise_std: 1.0
input:
  use_offset_ch: false
  offset_normalize: true
  use_time_ch: false
train:
  device: auto
  seed: 42
  loss_scope: masked_only
  losses:
  - kind: mse
    weight: 1.0
    scope: masked_only
  time_len: 6016
  batch_size: 16
  gradient_accumulation_steps: 2
  num_workers: 0
  use_amp: true
  max_norm: 1.0
  lr: 0.0001
  weight_decay: 0.01
  epochs: 50
  samples_per_epoch: 4096
  subset_traces: 128
eval:
  loss_scope: masked_only
  losses:
  - kind: mse
    weight: 1.0
    scope: all
ema:
  enabled: true
  decay: 0.999
  start_step: 0
  update_every: 1
  use_for_infer: true
infer:
  seed: 43
  batch_size: 4
  num_workers: 0
  max_batches: 64
  subset_traces: 128
tile:
  tile_h: 128
  overlap_h: 64
  tiles_per_batch: 16
  amp: true
  use_tqdm: false
vis:
  n: 5
  out_subdir: vis
  cmap: seismic
  vmin: -3
  vmax: 3
  transpose_for_trace_time: true
  per_trace_norm: true
  per_trace_eps: 1.0e-08
  figsize:
  - 13.0
  - 9.0
  dpi: 150
model:
  backbone: resnet18
  pretrained: false
  pre_stage_use_bn: true
  pre_stages: 2
  pre_stage_strides:
  - - 1
    - 2
  - - 1
    - 2
  pre_stage_channels:
  - 16
  - 32
  pre_stage_kernels:
  - 3
  - 3
  pre_stage_antialias: false
ckpt:
  save_best_only: true
  metric: infer_loss
  mode: min
tracking:
  enabled: true
  exp_name: prestage_D1
  tracking_uri: file:../mlruns
  vis_best_only: true
  vis_max_files: 50
