base: base_blindtrace.yaml

paths:
  out_dir: ../runs/prestage_D3

tracking:
  exp_name: prestage_D3

model:
  backbone: resnet18
  pretrained: false
  pre_stage_use_bn: true
  pre_stages: 3
  pre_stage_strides:
  - - 1
    - 2
  - - 1
    - 1
  - - 1
    - 2
  pre_stage_channels:
  - 16
  - 32
  - 32
  pre_stage_kernels:
  - 3
  - 3
  - 3
  pre_stage_antialias: true
  pre_stage_aa_taps: 3
  pre_stage_aa_pad_mode: zeros
