paths:
  segy_files: [/workspace/tests/data/20200623002546.sgy]
  phase_pick_files: [/workspace/tests/data/20200623002546_phase_picks.npz]
  infer_segy_files: [/workspace/tests/data/20200623002546.sgy]
  infer_phase_pick_files: [/workspace/tests/data/20200623002546_phase_picks.npz]
  out_dir: ./_psn_out

dataset:
  max_trials: 2048
  use_header_cache: true
  verbose: true
  primary_keys: [ffid]
  include_empty_gathers: false
  secondary_key_fixed: false

train:
  device: auto # auto | cpu | cuda | cuda:N
  batch_size: 4
  # gradient_accumulation_steps: 1
  epochs: 10
  lr: 1.0e-4
  subset_traces: 128
  time_len: 6016
  samples_per_epoch: 256
  psn_sigma: 1.5
  seed: 42
  use_amp: true
  max_norm: 1.0
  num_workers: 0


# ema:
#   enabled: true
#   decay: 0.999
#   start_step: 0
#   update_every: 1
#   use_for_infer: true
#   device: cpu  # omit -> same device as model; "cpu" saves VRAM but is slower

transform:
  target_len: 6016
  standardize_eps: 1.0e-8

augment:
  hflip_prob: 0.0
  polarity_prob: 0.0
  space:
    prob: 0.0
    factor_range: [0.90, 1.10]
  time:
    prob: 0.0
    factor_range: [0.95, 1.05]
  freq:
    prob: 0.0
    kinds: [bandpass, lowpass, highpass]
    band: [0.05, 0.45]
    width: [0.10, 0.35]
    roll: 0.02
    restandardize: false

vis:
  out_subdir: vis
  n: 1

infer:
  batch_size: 1
  max_batches: 4
  subset_traces: 128
  seed: 43
  num_workers: 0

ckpt:
  save_best_only: true
  metric: infer_loss
  mode: min

model:
  backbone: resnet18
  # pretrained: false # default
  in_chans: 1
  out_chans: 3
  # stage_strides: null
  # extra_stages: 0
  # extra_stage_strides: null
  # extra_stage_channels: null
  # extra_stage_use_bn: true
  # pre_stages: 0
  # pre_stage_strides: null
  # pre_stage_kernels: null
  # pre_stage_channels: null
  # pre_stage_use_bn: true
  # decoder_channels: [256, 128, 64, 32]
  # decoder_scales: [2, 2, 2, 2]
  # upsample_mode: bilinear
  # attention_type: scse # or null
  # intermediate_conv: true

tracking:
  enabled: true
  exp_name: baseline
  tracking_uri: file:./mlruns
  vis_best_only: true
  vis_max_files: 50
