paths:
  input_segy_files: [../test_data/marmousi/marmousi_shot101_chno161_fieldnoise008.sgy]
  target_segy_files:  [../test_data/marmousi/marmousi_shot101_chno161.sgy]
  infer_input_segy_files: [../test_data/marmousi/marmousi_shot101_chno161_fieldnoise008.sgy]
  infer_target_segy_files: [../test_data/marmousi/marmousi_shot101_chno161.sgy]
  out_dir: ./_pair_out

dataset:
  max_trials: 2048
  use_header_cache: true
  verbose: true
  primary_keys: [cmp]
  secondary_key_fixed: true
  standardize_from_input: true
  train_input_endian: little
  train_target_endian: little
  infer_input_endian: little
  infer_target_endian: little

train:
  device: cuda # auto | cpu | cuda | cuda:N
  batch_size: 32
  # gradient_accumulation_steps: 1
  epochs: 20
  lr: 1.0e-4
  subset_traces: 128
  time_len: 1280
  samples_per_epoch: 4096
  loss_kind: mse            # l1 or mse
  seed: 42
  use_amp: true
  max_norm: 1.0
  num_workers: 0

#ema:
#  enabled: true
#  decay: 0.999
#  start_step: 0
#  update_every: 1
#  use_for_infer: true
#  device: cuda  # omit -> same device as model; "cpu" saves VRAM but is slower

augment:
  hflip_prob: 0.5
  polarity_prob: 0
  space:
    prob: 0
    factor_range: [0.90, 1.10]
  time:
    prob: 0
    factor_range: [0.95, 1.05]
  freq:
    prob: 0.0
    kinds: [bandpass, lowpass, highpass]
    band: [0.05, 0.45]
    width: [0.10, 0.35]
    roll: 0.02
    restandardize: false

infer:
  batch_size: 1
  max_batches: 12
  subset_traces: 161
  seed: 43
  num_workers: 0

tile:
  tile_h: 128
  overlap_h: 64
  tiles_per_batch: 16
  amp: true
  use_tqdm: false

vis:
  out_subdir: vis
  n: 5
  cmap: seismic
  vmin: -3
  vmax: 3
  transpose_for_trace_time: true
  per_trace_norm: true
  per_trace_eps: 1.0e-8
  figsize: [15.0, 10.0]
  dpi: 200

model:
  backbone: resnet50 # edgenext_small.usi_in1k  caformer_b36.sail_in22k_ft_in1k, resnet18
  # pretrained: false # default
  in_chans: 1
  out_chans: 1
  # stage_strides: null
  # extra_stages: 0
  # extra_stage_strides: null
  # extra_stage_channels: null
  # extra_stage_use_bn: true
  # pre_stages: 0
  # pre_stage_strides: null
  # pre_stage_kernels: null
  # pre_stage_channels: null
  # pre_stage_use_bn: true
  # decoder_channels: [256, 128, 64, 32]
  # decoder_scales: [2, 2, 2, 2]
  # upsample_mode: bilinear
  # attention_type: scse # or null
  # intermediate_conv: true

ckpt:
  save_best_only: true
  metric: infer_loss
  mode: min

tracking:
  enabled: true
  exp_name: baseline
  tracking_uri: file:./mlruns
  vis_best_only: true
  vis_max_files: 50
